/** ----------- VÁLTOZÓK DEFINIÁLÁSA */
:root {
    /* -----------COLORS -----------*/
    --primary-BTN-Bg-color: rgb(232, 181, 160);
    --btn-text-color: rgb(51, 47, 49);
    /*text color for:
        -loginBTN text
        - signupBTN text
        - first section btn text
        - fourth section btn text */
    --mostUsed-text-color: rgb(65, 61, 63);
    /* its for text colors*/
    --dash-color: rgb(129, 105, 117);
    /* its for btn dashes*/
    --page-bg-color: rgb(247, 245, 236);
    --footer-bg-color: rgb(246, 227, 205);
    --navbar-a-color: rgb(151, 121, 110);
    --navbar-a-hover-color: rgb(113, 145, 128);
    --navbar-p-color: rgb(117, 55, 31);
    --current-page-color: rgb(60, 32, 22);
    --current-page-hover-color: rgb(68, 92, 79);
    --card-bg: rgb(234, 215, 190);

    /* -------- MARGIN - PADDING --------*/
    /* --default-padding: auto 5%; */

    --card-height: 400px;
    --card-width: 270px;
    /* --pic-height: 400; */
    /* --offset: 60; */
    --max-lines: 6;
    --line-height: 1.5;
}

/**--------------- FONTS ---------------*/
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/static/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url("../fonts/Montserrat/static/Montserrat-Bold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url("../fonts/Montserrat/static/Montserrat-SemiBold.ttf") format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url("../fonts/Montserrat/static/Montserrat-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PTsans-Regular';
    src: url("../fonts/PT_Sans/PTSans-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url(../fonts/Poppins/Poppins-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url("../fonts/Poppins/Poppins-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-light';
    src: url("../fonts/Poppins/Poppins-Light.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
}


/** --------------- NAVBAR ---------------*/

nav {
    background-color: var(--page-bg-color);

}

#navbar {
    padding-right: 5%;
    padding-left: 5%;
    /* padding: var(--default-padding); */
}

#navbar a,
p {
    font-size: larger;
    display: inline;
    padding: 0.938rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

#navbar a {
    color: var(--navbar-a-color);
}

#navbar p {
    color: var(--navbar-p-color) !important;
}



#navbar a:hover {
    color: var(--navbar-a-hover-color);
    /* font-weight: 700; */
    font-style: italic;
}

#HomePage {
    /*? Az aktuális page */
    color: var(--current-page-color) !important;
    text-decoration: underline 0.125rem var(--primary-BTN-Bg-color);
    /* ? távolság növelése az alláhúzás vonal és a szöveg alja között */
    text-underline-offset: 0.281rem;
}

#HomePage:hover {
    /*? aktuális page hover */
    color: var(--current-page-hover-color) !important;
    font-style: italic;
}

#profile-icon {
    width: 50px;
    /* Állítsd be a kívánt szélességet és magasságot */
    height: 50px;
    border-radius: 50%;
    /* Kör alak kialakítása */
    background-image: url('../pictures/default-profile-pic.png');
    /* Alapértelmezett kép beállítása */
    background-size: cover;
    /* A kép méretezése a konténerhez */
    background-position: center;
    /* A kép középre igazítása */
    cursor: pointer;
    /* Mutató kurzor megjelenítése, hogy látható legyen, kattintható */
}

/** --------------- TITLES ---------------*/
#welcome {
    margin-top: 100px;
    font-family: 'Montserrat-SemiBold', sans-serif;
    letter-spacing: -1px;
    font-size: 35px;
}

.subtitle {
    font-family: 'Montserrat-Medium';
    letter-spacing: -0.5px;
    margin-bottom: 2%;
}

/** --------------- FIRST-SECTION ---------------*/


#first-section {
    margin-top: 40px;
    height: 520px;
    display: flex;
    margin-bottom: 50px;
}

.full-card {
    background-color: #EAD7BE;
    margin-top: 85px;
    /* margin-left: 100px !important; */
    border-radius: 20px !important;
    width: 900px !important;
    height: fit-content;
    border-radius: 15px !important;
    box-shadow: 8px 8px 4px #3a3a3a2c;
    /* border-color: linear-gradient(to right, #EAD7BE, #E8B5A0); */
    /* border: 10px!important; */

}

.picSide img {
    width: 210px;
    height: var(--pic-height);

    position: relative;
    top: -40px;
    left: 30px;
    border-radius: 10px;
    box-shadow: 8px 8px 4px #b8ab9876;
}

.card-bg {
    height: 100% !important;
    /* width: 900px; */
}

.textSide {
    display: inline-block;
}

.textH2 {
    margin-top: 30px !important;
    /* margin-left: 20px; */
    font-family: 'Poppins-Medium', sans-serif;
    font-size: 27px;
}

.description {
    /** Csak az első 7 sort mutassa a leírásból => van hogy a szó közepén vágja el */
    display: -webkit-box;
    -webkit-line-clamp: var(--max-lines);
    -webkit-box-orient: vertical;
    overflow: hidden !important;
    /* line-height: var(--line-height); */
    text-align: justify;
    padding-left: 0 !important;
    padding-top: 0%;
    padding-bottom: 0 !important;
    padding-right: 40px;
    font-family: 'Poppins-Regular', sans-serif;
    font-size: 18px !important;
    margin-top: 4%;
}


.moreBtn {
    /* align-items: end; */
    align-self: baseline !important;
    color: white !important;
    border: 3px solid #895372;
    /* border-color: linear-gradient(145deg, #995D7F, #713D5A)!important; */
    border-radius: 20px !important;
    font-family: 'PTsans-Regular', sans-serif !important;
    font-size: 18px !important;
    letter-spacing: 0.7px;
    background: linear-gradient(145deg, #713D5A, #995D7F) !important;

    /* transition: background-color 0.5s linear!important; */

    /* transition: border 0.5s ; */
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.moreBtn:hover {
    background: linear-gradient(145deg, #38423B, #3F5E5A) !important;
    border: 3px solid #2F3731;
    /* color: var(--mostUsed-text-color)!important; */
    font-family: 'PTsans-Regular', sans-serif !important;
    font-size: 18px !important;
    letter-spacing: 0.7px;

}

/** --------------- SECOND SECTION ---------------*/
#second-section {
    margin-bottom: 5%;
}

.cover{
    width: 270px;
    height: 450px;
}

/** --------------- FOOTER ---------------*/

footer {
    border-top: 0.094rem solid var(--dash-color);
    background-color: var(--footer-bg-color);
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
}

footer h3 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    font-size: 1.25rem;
    font-family: 'Montserrat', sans-serif;
}

footer a {
    color: var(--mostUsed-text-color);
}

#footer-logo {
    /* padding-left: 6%; */
    display: flex;
}