:root {
    --primary-BTN-Bg-color: rgb(232, 181, 160);
    --btn-text-color: rgb(51, 47, 49);
    --mostUsed-text-color: rgb(65, 61, 63);
    --dash-color: rgb(129, 105, 117);
    --page-bg-color: rgb(247, 245, 236);
    --footer-bg-color: rgb(246, 227, 205);
    --navbar-a-color: rgb(151, 121, 110);
    --navbar-a-hover-color: rgb(113, 145, 128);
    --navbar-p-color: rgb(117, 55, 31);
    --current-page-color: rgb(60, 32, 22);
    --current-page-hover-color: rgb(68, 92, 79);
    --max-lines: 5;
}

/**--------------- FONTS ---------------*/
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/static/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Light';
    src: url('../fonts/Inter/static/Inter-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url("../fonts/Montserrat/static/Montserrat-Bold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url("../fonts/Montserrat/static/Montserrat-SemiBold.ttf") format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url("../fonts/Montserrat/static/Montserrat-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url("../fonts/Montserrat/static/Montserrat-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PTsans-Regular';
    src: url("../fonts/PT_Sans/PTSans-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url("../fonts/Poppins/Poppins-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-light';
    src: url("../fonts/Poppins/Poppins-Light.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* -------- Media Query --------- */
@media (min-width: 250px) and (max-width:309px) {
    #logo {
        width: 100px;
    }

    .navbar-toggler {
        width: 30px;
        height: 30px;
    }

    .navbar-toggler-icon {
        width: 20px;
        position: relative;
        right: 7.5px;
        bottom: 4px;
    }

    #usernamePicture {
        display: flex;
        flex-direction: column;
    }

    #navbarNav {
        margin-left: 40px !important;
    }

    #navbar a {
        font-size: 15px !important;
        padding-top: 15px !important;
        padding-bottom: 0px !important;
        display: flex !important;
        justify-content: right;
    }

    #writingBtn {
        margin-top: 20px;
        margin-right: auto !important;
        margin-bottom: 5px;
        font-size: 12px !important;
        padding: 5px 10px !important;
        margin-right: 0px !important;
    }

    #usernamePicture {
        display: flex;
        flex-direction: column;
    }

    #profile-icon img.rounded-circle {
        width: 40px;
        height: 40px;
        margin-right: 50px;
        margin-top: 10px;
    }

    #userName-p {
        font-size: 12px !important;
    }

    .dropdown-toggle {
        margin-right: 40px;
    }

    .dropdown-menu {
        padding-top: 0px !important;
    }

    /* first sec. */
    #welcome {
        font-size: 20px !important;
        text-align: center;
    }

    #first-section {
        height: fit-content !important;
        margin-bottom: 0px !important;
    }

    #first-s-card {
        margin-top: 0px;
    }

    .full-card {
        width: 220px !important;
    }

    .col-8,
    .col-4 {
        width: 100% !important;
    }

    .picSide img {
        margin-left: 40px !important;
        height: 200px !important;
        width: 110px !important;
        border-radius: 5px !important;
        top: 10px !important;
        left: 0px !important;
        box-shadow: none !important;
    }

    .textSide {
        text-align: center;
        padding-left: 25px !important;
        padding-right: 25px !important;
    }

    .textH2 {
        font-size: 15px !important;
    }

    .bigUsername,
    .username {
        font-size: 10px !important;
        margin-bottom: 0px;
    }

    .description,
    .medium-desc {
        font-size: 10px !important;
        margin-top: 8px !important;
        margin-bottom: 20pxpx;
        padding-right: 0px !important;
    }

    .bottom-row,
    .bottom-row-medium {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px !important;
        position: relative !important;
    }

    #randomBook-btn {
        margin-left: 40px;
        font-size: 10px !important;
        margin-bottom: 0px;
        padding: 5px 10px;
    }

    .category-big {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        font-size: 10px !important;
        width: fit-content;
        margin-left: 0px !important;
    }

    /* medium cards */
    .sub-sections {
        margin-top: 50px !important;
    }

    .subtitle {
        font-size: 18px;
        text-align: center;
        margin-left: 0px !important;
        margin-bottom: 20px !important;
    }

    .medium-card {
        width: 220px !important;
        height: fit-content !important;
        padding-top: 15px;
        padding-bottom: 30px;
    }

    .col-3,
    .col-9 {
        width: 100%;
    }

    .medium-pic {
        height: 200px !important;
        width: 120px !important;
        border-radius: 5px !important;
        margin-left: 50px;
    }

    .medium-right-side {
        justify-content: center !important;
        align-items: center;
    }

    .medium-h2 {
        display: flex;
        margin-left: 0px !important;
        text-align: center;
        justify-content: center;
        font-size: 15px !important;
        margin-top: 20px !important;
    }

    .username {
        width: fit-content;
        justify-content: center;
        margin-left: 0px !important;
        padding-left: 0px !important;
    }

    .medium-desc {
        width: 170px !important;
        margin-left: 0px !important;
        padding-left: 0px !important;
    }

    .moreBtn-medium {
        font-size: 10px !important;
        margin-right: 30px;
        margin-bottom: 10px !important;
    }

    /* covers */
    .cover {
        width: 130px !important;
        height: 220px !important;
    }

    .category-overlay {
        font-size: 10px !important;
        top: 5px !important;
    }

    .book-title {
        font-size: 12px !important;
        padding: 0px 3px 0px 3px !important;
    }

    .author-p {
        font-size: 12px !important;
    }

    .cover-btn {
        font-size: 12px !important;
        padding: 5px 10px !important;
    }

    /* könyv modal */
    .save-btn {
        padding-left: 12px;
        padding-right: 12px;
    }

    .save-btn svg {
        width: 15px;
        height: 20px;
    }

    #modal-img {
        width: 183px !important;
        height: 320px !important;
    }

    .modal-h3 {
        font-size: 20px;
    }

    .modal-p {
        font-size: 18px !important;
    }

    .babszem {
        column-gap: 15px !important;
        padding: 10px 15px 10px 15px !important;
    }

    .colDiv {
        width: fit-content !important;
    }

    .colDiv h4 {
        font-size: 14px;
    }

    .colDiv p {
        font-size: 10px;
    }

    #modal-desc {
        font-size: 12px;
    }

    /* footer */
    footer {
        padding-top: 20px !important;
        height: fit-content!important;
    }

    #footer-logo-div {
        width: 150px !important;
    }

    #footer-logo {
        width: 120px;
        margin-left: 45px;
    }

    footer h3 {
        font-size: 23px !important;
        text-align: center;
        margin-top: 10px;
    }

    #useful-links {
        padding: 0px;
    }

    #footer-ul {
        margin-top: 0.938rem;
    }

    footer ul li a,
    #phone-num,
    #email,
    #facebook,
    #instagram,
    #help-center,
    #terms {
        font-size: 12px !important;
    }

    #aboutus img {
        width: 20px !important;
        height: 20px !important;
    }
}

@media (min-width: 309px) and (max-width:376px) {
    #logo {
        width: 100px;
    }

    .navbar-toggler {
        width: 30px;
        height: 30px;
    }

    .navbar-toggler-icon {
        width: 20px;
        position: relative;
        right: 7.5px;
        bottom: 4px;
    }

    #usernamePicture {
        display: flex;
        flex-direction: column;
    }

    #navbarNav {
        margin-left: 40px !important;
    }

    #navbar a {
        font-size: 15px !important;
        padding-top: 15px !important;
        padding-bottom: 0px !important;
        display: flex !important;
        justify-content: right;
    }

    #writingBtn {
        margin-top: 20px;
        margin-right: auto !important;
        margin-bottom: 5px;
        font-size: 12px !important;
        padding: 5px 10px !important;
        margin-right: 0px !important;
    }

    #usernamePicture {
        display: flex;
        flex-direction: column;
    }

    #profile-icon img.rounded-circle {
        width: 40px;
        height: 40px;
        margin-right: 50px;
        margin-top: 10px;
    }

    #userName-p {
        font-size: 12px !important;
    }

    .dropdown-toggle {
        margin-right: 40px;
    }

    .dropdown-menu {
        padding-top: 0px !important;
    }

    /* first sec. */
    #welcome {
        font-size: 22px !important;
        text-align: center;
    }

    #first-section {
        height: fit-content !important;
        margin-bottom: 0px !important;
    }

    #first-s-card {
        margin-top: 0px;
        position: static;

    }

    .full-card {
        width: 280px !important;
    }

    .col-8,
    .col-4 {
        width: 100% !important;
    }

    .picSide img {
        margin-left: 50px;
        height: 260px !important;
        width: 160px !important;
        border-radius: 5px !important;
        top: 30px !important;
        left: 0px !important;
        box-shadow: none !important;
    }

    .textSide {
        text-align: center;
        padding-left: 25px !important;
        padding-right: 25px !important;
        margin-top: 15px;
    }

    .textH2 {
        font-size: 17px !important;
    }

    .bigUsername,
    .username {
        font-size: 13px !important;
        margin-bottom: 0px;
    }

    .description,
    .medium-desc {
        font-size: 12px !important;
        margin-top: 8px !important;
        margin-bottom: 20pxpx;
        padding-right: 0px !important;
    }

    .bottom-row,
    .bottom-row-medium {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px !important;
        position: static !important;
    }

    .bottom-row {
        margin-bottom: 20px;
    }

    #randomBook-btn {
        margin-left: 60px;
        font-size: 14px !important;
        margin-bottom: 0px;
        padding: 5px 10px;
    }

    .category-big {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        font-size: 13px !important;
        width: fit-content;
        margin-left: 0px !important;
    }

    /* medium cards */
    .sub-sections {
        margin-top: 50px !important;
    }

    .subtitle {
        font-size: 20px;
        text-align: center;
        margin-left: 0px !important;
        margin-bottom: 20px !important;
    }

    .medium-card {
        width: 280px !important;
        height: fit-content !important;
        padding-top: 15px;
        padding-bottom: 30px;
    }

    .col-3,
    .col-9 {
        width: 100%;
    }

    .medium-pic {
        height: 260px !important;
        width: 160px !important;
        border-radius: 5px !important;
        margin-left: 60px;
        margin-top: 10px;
    }

    .medium-right-side {
        justify-content: center !important;
        align-items: center;
    }

    .medium-h2 {
        display: flex;
        margin-left: 0px !important;
        text-align: center;
        justify-content: center;
        font-size: 15px !important;
        margin-top: 20px !important;
    }

    .username {
        width: fit-content;
        justify-content: center;
        margin-left: 0px !important;
        padding-left: 0px !important;
    }

    .medium-desc {
        width: 230px !important;
        margin-left: 0px !important;
        padding-left: 0px !important;
        margin-top: 40px !important;
    }

    .bottom-row-medium {
        margin-top: 30px;
    }

    .moreBtn-medium {
        font-size: 14px !important;
        margin-right: 30px;
        margin-bottom: 10px !important;
    }

    /* covers */
    .cover {
        width: 200px !important;
        height: 340px !important;
    }

    .category-overlay {
        font-size: 15px !important;
        top: 20px;
    }

    .book-title {
        font-size: 18px !important;
    }

    .author-p {
        font-size: 14px !important;
        width: 170px;
    }

    .cover-btn {
        font-size: 14px !important;
        padding: 5px 10px !important;
    }

    /* könyv modal */
    #modal-img {
        width: 203px !important;
        height: 350px !important;
    }

    .modal-h3 {
        font-size: 20px;
    }

    .modal-p {
        font-size: 18px !important;
    }

    .colDiv {
        width: fit-content !important;
    }

    .colDiv h4 {
        font-size: 18px;
    }

    .colDiv p {
        font-size: 14px;
    }

    #modal-desc {
        font-size: 14px;
    }

    .sMoreBtn {
        font-size: 14px !important;
        padding: 10px 15px 10px 15px !important;
    }

    /* footer */
    footer {
        padding-top: 20px !important;
        height: fit-content!important;
    }

    #footer-logo-div {
        width: 150px !important;
    }

    #footer-logo {
        width: 120px;
        margin-left: 80px;
    }

    footer h3 {
        font-size: 23px !important;
        text-align: center;
        margin-top: 10px;
    }

    #useful-links {
        padding: 0px;
    }

    #footer-ul {
        margin-top: 0.938rem;
    }

    footer ul li a,
    #phone-num,
    #email,
    #facebook,
    #instagram,
    #help-center,
    #terms {
        font-size: 12px !important;
    }

    #aboutus img {
        width: 20px !important;
        height: 20px !important;
    }
}

@media (min-width: 377px) and (max-width:425px) {
    #logo {
        width: 100px;
    }

    .navbar-toggler {
        width: 30px;
        height: 30px;
    }

    .navbar-toggler-icon {
        width: 20px;
        position: relative;
        right: 7.5px;
        bottom: 4px;
    }

    #usernamePicture {
        display: flex;
        flex-direction: column;
    }

    #navbarNav {
        margin-left: 40px !important;
    }

    #navbar a {
        font-size: 15px !important;
        padding-top: 15px !important;
        padding-bottom: 0px !important;
        display: flex !important;
        justify-content: right;
    }

    #writingBtn {
        margin-top: 20px;
        margin-right: auto !important;
        margin-bottom: 5px;
        font-size: 12px !important;
        padding: 5px 10px !important;
        margin-right: 0px !important;
    }

    #usernamePicture {
        display: flex;
        flex-direction: column;
    }

    #profile-icon img.rounded-circle {
        width: 40px;
        height: 40px;
        margin-right: 50px;
        margin-top: 10px;
    }

    #userName-p {
        font-size: 12px !important;
    }

    .dropdown-toggle {
        margin-right: 40px;
    }

    .dropdown-menu {
        padding-top: 0px !important;
    }

    /* first sec. */
    #welcome {
        font-size: 22px !important;
        text-align: center;
    }

    #first-section {
        height: fit-content !important;
        margin-bottom: 0px !important;
    }

    #first-s-card {
        margin-top: 0px;
        position: static;

    }

    .full-card {
        width: 280px !important;
    }

    .col-8,
    .col-4 {
        width: 100% !important;
    }

    .picSide img {
        margin-left: 50px;
        height: 260px !important;
        width: 160px !important;
        border-radius: 5px !important;
        top: 30px !important;
        left: 0px !important;
        box-shadow: none !important;
    }

    .textSide {
        text-align: center;
        padding-left: 25px !important;
        padding-right: 25px !important;
        margin-top: 15px;
    }

    .textH2 {
        font-size: 17px !important;
    }

    .bigUsername,
    .username {
        font-size: 13px !important;
        margin-bottom: 0px;
    }

    .description,
    .medium-desc {
        font-size: 12px !important;
        margin-top: 8px !important;
        margin-bottom: 20pxpx;
        padding-right: 0px !important;
    }

    .bottom-row,
    .bottom-row-medium {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px !important;
        position: static !important;
    }

    .bottom-row {
        margin-bottom: 20px;
    }

    #randomBook-btn {
        margin-left: 60px;
        font-size: 14px !important;
        margin-bottom: 0px;
        padding: 5px 10px;
    }

    .category-big {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        font-size: 13px !important;
        width: fit-content;
        margin-left: 0px !important;
    }

    /* medium cards */
    .sub-sections {
        margin-top: 50px !important;
    }

    .subtitle {
        font-size: 20px;
        text-align: center;
        margin-left: 0px !important;
        margin-bottom: 20px !important;
    }

    .medium-card {
        width: 280px !important;
        height: fit-content !important;
        padding-top: 15px;
        padding-bottom: 30px;
    }

    #s2-mediumC-pic,
    #s3-mediumCardPic-div,
    #s4-mediumCardPic-div,
    #s5-mediumCardPic-div,
    .col-9 {
        width: 100% !important;
    }

    .col-3 {
        width: 50%;
    }

    .medium-pic {
        height: 260px !important;
        width: 160px !important;
        border-radius: 5px !important;
        margin-left: 60px;
        margin-top: 10px;
    }

    .medium-right-side {
        justify-content: center !important;
        align-items: center;
    }

    .medium-h2 {
        display: flex;
        margin-left: 0px !important;
        text-align: center;
        justify-content: center;
        font-size: 15px !important;
        margin-top: 20px !important;
    }

    .username {
        width: fit-content;
        justify-content: center;
        margin-left: 0px !important;
        padding-left: 0px !important;
    }

    .medium-desc {
        width: 230px !important;
        margin-left: 0px !important;
        padding-left: 0px !important;
        margin-top: 40px !important;
    }

    .bottom-row-medium {
        margin-top: 30px;
    }

    .moreBtn-medium {
        font-size: 14px !important;
        margin-right: 30px;
        margin-bottom: 10px !important;
    }

    /* covers */
    .cover {
        width: 160px !important;
        height: 270px !important;
    }

    .category-overlay {
        font-size: 12px !important;
        top: 20px !important;
    }

    .book-title {
        font-size: 15px !important;
    }

    .author-p {
        font-size: 12px !important;
        width: 170px;
    }

    .cover-btn {
        font-size: 12px !important;
        padding: 5px 10px !important;
    }

    /* könyv modal */
    #modal-img {
        width: 203px !important;
        height: 350px !important;
    }

    .modal-h3 {
        font-size: 20px;
    }

    .modal-p {
        font-size: 18px !important;
    }

    .colDiv {
        width: fit-content !important;
    }

    .colDiv h4 {
        font-size: 18px;
    }

    .colDiv p {
        font-size: 14px;
    }

    #modal-desc {
        font-size: 14px;
    }

    /* footer */
    footer {
        padding-top: 20px !important;
        height: fit-content!important;
    }

    #footer-logo-div {
        width: 130px !important;
    }

    #footer-logo {
        width: 160px;
        margin-left: 100px;
    }

    footer h3 {
        font-size: 23px !important;
        text-align: center;
        margin-top: 10px;
    }

    #useful-links {
        padding: 0px;
    }

    #footer-ul {
        margin-top: 0.938rem;
    }

    footer ul li a,
    #phone-num,
    #email,
    #facebook,
    #instagram,
    #help-center,
    #terms {
        font-size: 12px !important;
    }

    #aboutus img {
        width: 20px !important;
        height: 20px !important;
    }

    #copy-right {
        margin-bottom: 0px;
    }
}

@media (min-width: 426px) and (max-width: 500px) {
    #logo {
        width: 100px;
    }

    .navbar-toggler {
        width: 30px;
        height: 30px;
    }

    .navbar-toggler-icon {
        width: 20px;
        position: relative;
        right: 7.5px;
        bottom: 4px;
    }

    #usernamePicture {
        display: flex;
        flex-direction: column;
    }

    #navbarNav {
        margin-left: 40px !important;
    }

    #navbar a {
        font-size: 15px !important;
        padding-top: 15px !important;
        padding-bottom: 0px !important;
        display: flex !important;
        justify-content: right;
    }

    #writingBtn {
        margin-top: 20px;
        margin-right: auto !important;
        margin-bottom: 5px;
        font-size: 12px !important;
        padding: 5px 10px !important;
        margin-right: 0px !important;
    }

    #usernamePicture {
        display: flex;
        flex-direction: column;
    }

    #profile-icon img.rounded-circle {
        width: 40px;
        height: 40px;
        margin-right: 50px;
        margin-top: 10px;
    }

    #userName-p {
        font-size: 12px !important;
    }

    .dropdown-toggle {
        margin-right: 40px;
    }

    .dropdown-menu {
        padding-top: 0px !important;
    }

    /* first sec. */
    #welcome {
        font-size: 22px !important;
        text-align: center;
    }

    #first-section {
        height: fit-content !important;
        margin-bottom: 0px !important;
    }

    #first-s-card {
        margin-top: 0px;
        position: static;

    }

    .full-card {
        width: 280px !important;
    }

    .col-8,
    .col-4 {
        width: 100% !important;
    }

    .picSide img {
        margin-left: 50px;
        height: 260px !important;
        width: 160px !important;
        border-radius: 5px !important;
        top: 30px !important;
        left: 0px !important;
        box-shadow: none !important;
    }

    .textSide {
        text-align: center;
        padding-left: 25px !important;
        padding-right: 25px !important;
        margin-top: 15px;
    }

    .textH2 {
        font-size: 17px !important;
    }

    .bigUsername,
    .username {
        font-size: 13px !important;
        margin-bottom: 0px;
    }

    .description,
    .medium-desc {
        font-size: 12px !important;
        margin-top: 8px !important;
        margin-bottom: 20pxpx;
        padding-right: 0px !important;
    }

    .bottom-row,
    .bottom-row-medium {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px !important;
        position: static !important;
    }

    .bottom-row {
        margin-bottom: 20px;
    }

    #randomBook-btn {
        margin-left: 60px;
        font-size: 14px !important;
        margin-bottom: 0px;
        padding: 5px 10px;
    }

    .category-big {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        font-size: 13px !important;
        width: fit-content;
        margin-left: 0px !important;
    }

    /* medium cards */
    .sub-sections {
        margin-top: 50px !important;
    }

    .subtitle {
        font-size: 20px;
        text-align: center;
        margin-left: 0px !important;
        margin-bottom: 20px !important;
    }

    .medium-card {
        width: 280px !important;
        height: fit-content !important;
        padding-top: 15px;
        padding-bottom: 30px;
    }

    #s2-mediumC-pic,
    #s3-mediumCardPic-div,
    #s4-mediumCardPic-div,
    #s5-mediumCardPic-div,
    .col-9 {
        width: 100% !important;
    }

    .col-3 {
        width: 50%;
    }

    .medium-pic {
        height: 260px !important;
        width: 160px !important;
        border-radius: 5px !important;
        margin-left: 60px;
        margin-top: 10px;
    }

    .medium-right-side {
        justify-content: center !important;
        align-items: center;
    }

    .medium-h2 {
        display: flex;
        margin-left: 0px !important;
        text-align: center;
        justify-content: center;
        font-size: 15px !important;
        margin-top: 20px !important;
    }

    .username {
        width: fit-content;
        justify-content: center;
        margin-left: 0px !important;
        padding-left: 0px !important;
    }

    .medium-desc {
        width: 230px !important;
        margin-left: 0px !important;
        padding-left: 0px !important;
        margin-top: 40px !important;
    }

    .bottom-row-medium {
        margin-top: 30px;
    }

    .moreBtn-medium {
        font-size: 14px !important;
        margin-right: 30px;
        margin-bottom: 10px !important;
    }

    /* covers */
    .cover {
        width: 160px !important;
        height: 270px !important;
    }

    .category-overlay {
        font-size: 12px !important;
        top: 20px !important;
    }

    .book-title {
        font-size: 15px !important;
    }

    .author-p {
        font-size: 12px !important;
        width: 170px;
    }

    .cover-btn {
        font-size: 12px !important;
        padding: 5px 10px !important;
    }

    footer {
        padding-top: 20px !important;
        height: fit-content!important;
    }

    #footer-logo-div {
        width: 130px !important;
    }

    #footer-logo {
        width: 160px;
        margin-left: 100px;
    }

    footer h3 {
        font-size: 23px !important;
        text-align: center;
        margin-top: 10px;
    }

    #useful-links {
        padding: 0px;
    }

    #footer-ul {
        margin-top: 0.938rem;
    }

    footer ul li a,
    #phone-num,
    #email,
    #facebook,
    #instagram,
    #help-center,
    #terms {
        font-size: 12px !important;
    }

    #aboutus img {
        width: 20px !important;
        height: 20px !important;
    }

    #copy-right {
        margin-bottom: 0px;
    }
}

@media (min-width: 501px) and (max-width: 630px) {
    #logo {
        width: 100px;
    }

    .navbar-toggler {
        width: 30px;
        height: 30px;
    }

    .navbar-toggler-icon {
        width: 20px;
        position: relative;
        right: 7.5px;
        bottom: 4px;
    }

    #usernamePicture {
        display: flex;
        flex-direction: column;
    }

    #navbarNav {
        margin-left: 40px !important;
    }

    #navbar a {
        font-size: 15px !important;
        padding-top: 15px !important;
        padding-bottom: 0px !important;
        display: flex !important;
        justify-content: right;
    }

    #writingBtn {
        margin-top: 20px;
        margin-right: auto !important;
        margin-bottom: 5px;
        font-size: 12px !important;
        padding: 5px 10px !important;
        margin-right: 0px !important;
    }

    #usernamePicture {
        display: flex;
        flex-direction: column;
    }

    #profile-icon img.rounded-circle {
        width: 40px;
        height: 40px;
        margin-right: 50px;
        margin-top: 10px;
    }

    #userName-p {
        font-size: 12px !important;
    }

    .dropdown-toggle {
        margin-right: 40px;
    }

    .dropdown-menu {
        padding-top: 0px !important;
    }

    /* first sec. */
    #welcome {
        font-size: 25px !important;
        text-align: center;
    }

    #first-section {
        height: fit-content !important;
        margin-bottom: 0px !important;
    }

    #first-s-card {
        margin-top: 0px;
        position: static;

    }

    .full-card {
        width: 340px !important;
    }

    .col-8,
    .col-4 {
        width: 100% !important;
    }

    .picSide img {
        margin-left: 50px;
        height: 360px !important;
        width: 220px !important;
        border-radius: 5px !important;
        top: 30px !important;
        left: 0px !important;
        box-shadow: none !important;
    }

    .textSide {
        text-align: center;
        padding-left: 45px !important;
        padding-right: 45px !important;
        margin-top: 15px;
    }

    .textH2 {
        font-size: 20px !important;
    }

    .bigUsername,
    .username {
        font-size: 15px !important;
        margin-bottom: 0px;
    }

    .description,
    .medium-desc {
        font-size: 15px !important;
        margin-top: 8px !important;
        margin-bottom: 20pxpx;
        padding-right: 0px !important;
    }

    .bottom-row,
    .bottom-row-medium {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px !important;
        position: static !important;
    }

    .bottom-row {
        margin-bottom: 20px;
    }

    #randomBook-btn {
        margin-left: 60px;
        font-size: 16px !important;
        margin-bottom: 0px;
        padding: 5px 15px;
    }

    .category-big {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        font-size: 13px !important;
        width: fit-content;
        margin-left: 0px !important;
    }

    /* medium cards */
    .sub-sections {
        margin-top: 50px !important;
    }

    .subtitle {
        font-size: 20px;
        text-align: center;
        margin-left: 0px !important;
        margin-bottom: 20px !important;
    }

    .medium-card {
        width: 340px !important;
        height: fit-content !important;
        padding-top: 15px;
        padding-bottom: 30px;
    }

    #s2-mediumC-pic,
    #s3-mediumCardPic-div,
    #s4-mediumCardPic-div,
    #s5-mediumCardPic-div,
    .col-9 {
        width: 100% !important;
    }

    .col-3 {
        width: 30%;
    }

    .medium-pic {
        height: 360px !important;
        width: 220px !important;
        border-radius: 5px !important;
        margin-left: 60px;
        margin-top: 10px;
    }

    .medium-right-side {
        justify-content: center !important;
        align-items: center;
    }

    .medium-h2 {
        display: flex;
        margin-left: 0px !important;
        text-align: center;
        justify-content: center;
        font-size: 20px !important;
        margin-top: 20px !important;
    }

    .username {
        width: fit-content;
        justify-content: center;
        margin-left: 0px !important;
        padding-left: 0px !important;
    }

    .medium-desc {
        width: 230px !important;
        margin-left: 0px !important;
        padding-left: 0px !important;
        margin-top: 40px !important;
    }

    .bottom-row-medium {
        margin-top: 30px;
    }

    .moreBtn-medium {
        font-size: 15px !important;
        margin-right: 30px;
        margin-bottom: 10px !important;
    }

    /* covers */
    .cover {
        width: 140px !important;
        height: 250px !important;
    }

    .row {
        gap: 10px;
    }

    .book-row {
        width: fit-content;
        padding-left: 20px;
    }

    .category-overlay {
        font-size: 12px !important;
        top: 5px !important;
    }

    .book-title {
        font-size: 15px !important;
    }

    .author-p {
        font-size: 12px !important;
        width: 170px;
    }

    .cover-btn {
        font-size: 12px !important;
        padding: 5px 10px !important;
    }

    footer {
        padding-top: 20px !important;
        height: fit-content!important;
    }

    footer ul li a,
    #phone-num,
    #email,
    #facebook,
    #instagram,
    #help-center,
    #terms {
        font-size: 15px !important;
    }

    #aboutus img {
        width: 25px !important;
        height: 25px !important;
    }

    footer h3 {
        font-size: 23px !important;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    #footer-ul {
        margin-top: 5px;
    }

    #footer-logo-div {
        width: 150px !important;
    }

    #footer-logo {
        width: 120px;
        margin-left: 155px;
    }

    #copy-right {
        margin-bottom: 0px;
    }
}

@media (min-width: 631px) and (max-width: 767px) {
    #logo {
        width: 100px;
    }

    .navbar-toggler {
        width: 30px;
        height: 30px;
    }

    .navbar-toggler-icon {
        width: 20px;
        position: relative;
        right: 7.5px;
        bottom: 4px;
    }

    #usernamePicture {
        display: flex;
        flex-direction: column;
    }

    #navbarNav {
        margin-left: 40px !important;
    }

    #navbar a {
        font-size: 15px !important;
        padding-top: 15px !important;
        padding-bottom: 0px !important;
        display: flex !important;
        justify-content: right;
    }

    #writingBtn {
        margin-top: 20px;
        margin-right: auto !important;
        margin-bottom: 5px;
        font-size: 12px !important;
        padding: 5px 10px !important;
        margin-right: 0px !important;
    }

    #usernamePicture {
        display: flex;
        flex-direction: column;
    }

    #profile-icon img.rounded-circle {
        width: 40px;
        height: 40px;
        margin-right: 50px;
        margin-top: 10px;
    }

    #userName-p {
        font-size: 12px !important;
    }

    .dropdown-toggle {
        margin-right: 40px;
    }

    .dropdown-menu {
        padding-top: 0px !important;
    }

    /* first sec. */
    #welcome {
        font-size: 25px !important;
        text-align: center;
    }

    #first-section {
        height: fit-content !important;
        margin-bottom: 0px !important;
    }

    #first-s-card {
        margin-top: 0px;
        position: static;

    }

    .full-card {
        width: 340px !important;
    }

    .col-8,
    .col-4 {
        width: 100% !important;
    }

    .picSide img {
        margin-left: 50px;
        height: 360px !important;
        width: 220px !important;
        border-radius: 5px !important;
        top: 30px !important;
        left: 0px !important;
        box-shadow: none !important;
    }

    .textSide {
        text-align: center;
        padding-left: 45px !important;
        padding-right: 45px !important;
        margin-top: 15px;
    }

    .textH2 {
        font-size: 20px !important;
    }

    .bigUsername,
    .username {
        font-size: 15px !important;
        margin-bottom: 0px;
    }

    .description,
    .medium-desc {
        font-size: 15px !important;
        margin-top: 8px !important;
        margin-bottom: 20pxpx;
        padding-right: 0px !important;
    }

    .bottom-row,
    .bottom-row-medium {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px !important;
        position: static !important;
    }

    .bottom-row {
        margin-bottom: 20px;
    }

    #randomBook-btn {
        margin-left: 60px;
        font-size: 16px !important;
        margin-bottom: 0px;
        padding: 5px 15px;
    }

    .category-big {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        font-size: 13px !important;
        width: fit-content;
        margin-left: 0px !important;
    }

    /* medium cards */
    .sub-sections {
        margin-top: 50px !important;
    }

    .subtitle {
        font-size: 20px;
        text-align: center;
        margin-left: 0px !important;
        margin-bottom: 20px !important;
    }

    .medium-card {
        width: 340px !important;
        height: fit-content !important;
        padding-top: 15px;
        padding-bottom: 30px;
    }

    #s2-mediumC-pic,
    #s3-mediumCardPic-div,
    #s4-mediumCardPic-div,
    #s5-mediumCardPic-div,
    .col-9 {
        width: 100% !important;
    }

    .col-3 {
        width: 30%;
    }

    .medium-pic {
        height: 360px !important;
        width: 220px !important;
        border-radius: 5px !important;
        margin-left: 60px;
        margin-top: 10px;
    }

    .medium-right-side {
        justify-content: center !important;
        align-items: center;
    }

    .medium-h2 {
        display: flex;
        margin-left: 0px !important;
        text-align: center;
        justify-content: center;
        font-size: 20px !important;
        margin-top: 20px !important;
    }

    .username {
        width: fit-content;
        justify-content: center;
        margin-left: 0px !important;
        padding-left: 0px !important;
    }

    .medium-desc {
        width: 230px !important;
        margin-left: 0px !important;
        padding-left: 0px !important;
        margin-top: 40px !important;
    }

    .bottom-row-medium {
        margin-top: 30px;
    }

    .moreBtn-medium {
        font-size: 15px !important;
        margin-right: 30px;
        margin-bottom: 10px !important;
    }

    /* covers */
    .cover {
        width: 140px !important;
        height: 250px !important;
    }

    .row {
        gap: 10px;
    }

    .book-row {
        width: fit-content;
        padding-left: 20px;
    }

    .category-overlay {
        font-size: 12px !important;
        top: 5px !important;
    }

    .book-title {
        font-size: 15px !important;
    }

    .author-p {
        font-size: 12px !important;
        width: 170px;
    }

    .cover-btn {
        font-size: 12px !important;
        padding: 5px 10px !important;
    }

    footer {
        padding-top: 20px !important;
        height: fit-content;
    }

    footer ul li a,
    #phone-num,
    #email,
    #facebook,
    #instagram,
    #help-center,
    #terms {
        font-size: 15px !important;
    }

    #aboutus img {
        width: 25px !important;
        height: 25px !important;
    }

    footer h3 {
        font-size: 23px !important;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    #footer-ul {
        margin-top: 5px;
    }

    #footer-logo-div {
        width: 150px !important;
    }

    #footer-logo {
        width: 120px;
        margin-left: 155px;
    }

    #copy-right {
        margin-bottom: 0px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-toggler {
        width: 40px;
        height: 40px;
    }

    .navbar-toggler-icon {
        width: 25px;
        position: relative;
        right: 5.5px;
        bottom: 0px;
    }

    #navbar a {
        font-size: 20px !important;
        padding-top: 15px !important;
        padding-bottom: 0px !important;
        display: flex !important;
        justify-content: right;
    }

    #userName-p {
        font-size: 20px !important;
    }

    #profile-icon img.rounded-circle {
        margin-right: 220px;
        margin-bottom: 10px;
    }

    #usernamePicture {
        display: flex;
        flex-direction: column;
    }

    #writingBtn {
        margin-top: 20px;
        margin-right: auto !important;
        margin-bottom: 30px;
        font-size: 18px !important;
        padding: 5px 10px;
        margin-right: 0px !important;
    }

    .dropdown-toggle {
        margin-right: 220px;
    }

    .dropdown-item {
        display: flex !important;
        justify-content: center !important;
    }

    /* big card */
    .picSide img {
        height: 340px !important;
        width: 200px !important;
        left: 10px !important;
        top: -30px !important;
    }

    .textH2 {
        font-size: 24px !important;
    }

    .bigUsername {
        font-size: 16px;
        margin-bottom: 0px !important;
    }

    .description {
        font-size: 15px !important;
        margin-top: 10px !important;
    }

    .bottom-row {
        display: flex;
        align-items: center;
        gap: 50px !important;
        bottom: 0px !important;
    }


    .category-big {
        margin-left: 0px !important;
        margin-top: 5px !important;
    }

    /* medium cards */
    .medium-h2 {
        font-size: 20px !important;
    }

    .username {
        font-size: 16px !important;
    }

    .medium-desc {
        font-size: 14px !important;
    }

    /* covers */
    .subtitle {
        margin-bottom: 40px !important;
    }

    .cover {
        width: 140px !important;
        height: 250px !important;
    }

    .category-overlay {
        font-size: 12px !important;
        top: 5px !important;
    }

    .book-title {
        font-size: 15px !important;
    }

    .author-p {
        font-size: 12px !important;
        width: 170px;
    }

    .cover-btn {
        font-size: 12px !important;
        padding: 5px 10px !important;
    }
}

@media (min-width: 992px) and (max-width: 1024px) {
    #navbarNav {
        margin-left: 50px !important;
    }

    .nav-link {
        font-size: 16px !important;
    }

    #writingBtn {
        font-size: 13px !important;
        padding: 5px 10px !important;
        margin-right: 20px !important;
    }

    #profile-icon img.rounded-circle {
        width: 40px;
        height: 40px;
    }

    #userName-p {
        font-size: 16px !important;
        padding: 8px !important;
    }

    /* big card */
    .full-card {
        width: 900px !important;
    }

    /* medium cards */
    .medium-h2 {
        font-size: 20px !important;
    }

    .username {
        font-size: 16px !important;
    }

    .medium-desc {
        font-size: 14px !important;
    }

    /* covers */
    .subtitle {
        margin-bottom: 40px !important;
    }

    .cover {
        width: 200px !important;
        height: 350px !important;
    }

    .category-overlay {
        font-size: 12px !important;
        top: 20px;
    }

    .book-title {
        font-size: 15px !important;
    }

    .author-p {
        font-size: 12px !important;
        width: 170px;
    }

    .cover-btn {
        font-size: 12px !important;
        padding: 5px 10px !important;
    }
}

@media (min-width: 1025px) and (max-width: 1307px) {
    #navbarNav {
        margin-left: 90px !important;
    }

    .nav-link {
        font-size: 16px !important;
    }

    #writingBtn {
        font-size: 13px !important;
        padding: 5px 10px !important;
        margin-right: 20px !important;
    }

    #profile-icon img.rounded-circle {
        width: 40px;
        height: 40px;
    }

    #userName-p {
        font-size: 16px !important;
        padding: 8px !important;
    }

    .cover {
        width: 200px !important;
        height: 350px !important;
    }

    .category-overlay {
        top: 10px !important;
    }

}

/* ------- Scrollbar ------- */
/* scrollbar width */
::-webkit-scrollbar {
    width: 8px;
}

/* scrollbar Track */
::-webkit-scrollbar-track {
    background: rgb(235, 233, 224);

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #92827a;
    border-radius: 20px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ACA09A;
}

/* --------------- NAVBAR ---------------*/
nav {
    background-color: var(--page-bg-color);
}

#usernamePicture {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

#writingBtn {
    margin-left: auto;
}

#navbar {
    padding-right: 5%;
    padding-left: 5%;
}

#navbar a,
#navbar p {
    font-size: larger;
    display: inline;
    padding: 0.938rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

#navbar a {
    color: var(--navbar-a-color);
}

#navbar p {
    color: var(--navbar-p-color) !important;
}

.nav-link:hover {
    cursor: pointer !important;
    color: var(--navbar-a-hover-color) !important;
    text-decoration: underline 0.125rem var(--primary-BTN-Bg-color);
    text-underline-offset: 0.281rem;
}

.active {
    color: var(--current-page-color) !important;
    text-decoration: underline 0.125rem var(--primary-BTN-Bg-color);
    text-underline-offset: 0.281rem;
}

.active:hover {
    color: var(--current-page-hover-color) !important;
    cursor: pointer;
}

#profile-icon img,
.smaller-user-profile-pic {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

#navbarNav {
    margin-left: 90px;
}

#writingBtn,
#writingBtn-zeroData {
    font-size: medium;
    font-family: 'Inter', sans-serif;
    color: var(--btn-text-color);
    border: 1px solid var(--primary-BTN-Bg-color);
    border-radius: 1.5rem;
    background-color: var(--primary-BTN-Bg-color);
    padding: 0.625rem 1.25rem;
    transition: color 0.8s ease;
    transition: background-color 0.3s ease;
    line-height: 1.125rem;
    box-sizing: border-box;
    margin-right: 50px;
}

#writingBtn:hover,
#writingBtn-zeroData:hover {
    transition: color 0.8s ease;
    transition: background-color 0.3s ease;
    background-color: rgb(247, 245, 236);
    color: var(--mostUsed-text-color);
    border: dashed 0.094rem var(--dash-color);
}

.dropdown-menu li {
    padding: 5px;
    margin-bottom: 5px;
}

.dropdown-menu a:hover {
    background-color: transparent;
    cursor: pointer;
    color: var(--navbar-a-hover-color) !important;
}

/* -------- Titles and rows and general stuff --------*/
#welcome {
    margin-top: 100px;
    font-family: 'Montserrat-SemiBold', sans-serif;
    letter-spacing: -1px;
    font-size: 35px;
}

.subtitle {
    font-family: 'Montserrat-Medium';
    letter-spacing: -0.5px;
    margin-bottom: 2%;
    margin-left: 20px;
}

.book-row {
    margin-bottom: 50px;
}

.medium-card {
    width: 650px;
    height: 300px;
    margin-bottom: 50px;
    display: flexbox;
    border-radius: 15px;
    box-shadow: 6px 6px 3px #3a3a3a2c;
    position: relative;
}

.medium-pic {
    width: 170px;
    height: 300px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    align-content: start;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 4px 0px 3px #3a3a3a2c;
}

.col-3 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.medium-h2 {
    margin-top: 20px;
    margin-left: 25px;
    font-size: 25px;
    font-family: 'Poppins-Medium', sans-serif;
    margin-bottom: 1%;
}

.username {
    margin-top: 0;
    margin-left: 25px;
    font-size: 18px;
    color: rgb(65, 61, 63) !important;
    font-family: 'Montserrat-Medium', sans-serif;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 12px;
    margin-bottom: 0;
    color: rgb(99, 76, 62) !important;
}

.medium-desc {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden !important;
    margin-top: 15px;
    margin-left: 25px;
    padding-bottom: 0;
    font-family: 'Poppins-light', sans-serif;
    font-size: 16px;
    padding-left: 12px;
    text-align: justify;
    padding-right: 20px;
    margin-bottom: 0px;
    word-wrap: break-word;
    width: 370px;
}

.medium-right-side {
    display: flex;
    flex-direction: column;
}

.moreBtn-medium {
    margin-left: 30px;
    margin-top: 5%;
}

.bottom-row {
    display: flex;
    position: absolute;
    bottom: 20px;
}

.category-big,
.category-medium {
    margin-top: 20px;
    height: fit-content;
    width: fit-content;
    font-size: 16px;
    font-family: 'Poppins-Regular';
    background-color: #91796d;
    padding: 5px 10px;
    color: whitesmoke;
    border-radius: 10px;
}

.category-big {
    margin-left: 240px;
}

.bottom-row-medium {
    display: flex;
    position: absolute;
    bottom: -5px;
    gap: 50px;
}

/* --------------- FIRST-SECTION ---------------*/
#first-section {
    margin-top: 40px;
    height: 520px;
    display: flex;
    margin-bottom: 50px;
}

.full-card {
    background-color: #EAD7BE;
    margin-top: 85px;
    border-radius: 20px !important;
    width: 950px;
    height: fit-content;
    border-radius: 15px !important;
    box-shadow: 8px 8px 4px #3a3a3a2c;
    position: relative;
}

.picSide img {
    width: 243px;
    height: 400px;
    position: relative;
    top: -40px;
    left: 30px;
    border-radius: 10px;
    box-shadow: 8px 8px 4px #b8ab9876;
}

.card-bg {
    height: 100% !important;
}

.textSide {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.textH2 {
    margin-top: 30px !important;
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 27px;
    margin-bottom: 5px;
}

.bigUsername {
    font-family: 'Poppins-Light', sans-serif;
    font-size: 18px;
    padding-left: 0;
    margin-bottom: 5px;
}

.description {
    display: -webkit-box;
    -webkit-line-clamp: var(--max-lines);
    -webkit-box-orient: vertical;
    overflow: hidden !important;
    text-align: justify;
    padding-left: 0 !important;
    padding-top: 0%;
    padding-bottom: 0 !important;
    padding-right: 40px;
    font-family: 'Poppins-Regular', sans-serif;
    font-size: 18px;
    margin-top: 20px;
}

.moreBtn {
    font-size: 18px;
}

.moreBtn-medium {
    font-size: 16px;
}

.moreBtn,
.moreBtn-medium {
    align-self: baseline !important;
    color: white !important;
    border: 3px solid #895372;
    border-radius: 20px !important;
    font-family: 'PTsans-Regular', sans-serif !important;
    letter-spacing: 0.7px;
    background: linear-gradient(145deg, #713D5A, #995D7F) !important;
    padding: 5px 20px 5px;
    text-decoration: none;
    margin-bottom: 30px;
    margin-top: 15px;
}

.moreBtn:hover,
.moreBtn-medium:hover {
    background: linear-gradient(145deg, #38423B, #3F5E5A) !important;
    border: 3px solid #2F3731;
    font-family: 'PTsans-Regular', sans-serif !important;
    font-size: 18px !important;
    letter-spacing: 0.7px;
}

/* ---------- SECOND SECTION ---------------*/
.sub-sections {
    margin-bottom: 5%;
}

.cover {
    width: 230px;
    height: 410px;
    display: block;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    transition: filter 0.5s ease;
    border-radius: 10px;
}

.cover-photo {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin-top: 10%;
}

.cover-photo:hover img {
    filter: brightness(0.5);
}

.cover-photo:hover .overlay {
    opacity: 1;
}

.overlay {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.category-overlay {
    position: absolute;
    top: 40px;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 8px;
    font-family: 'Inter-Light', sans-serif;
}

.overlay p {
    margin-bottom: 10px;
}

.book-title {
    font-family: 'Poppins-Regular', sans-serif;
    font-size: 18px;
}

.author-p {
    font-size: 16px;
    font-family: 'Poppins-light', sans-serif;
}

.cover-btn {
    text-decoration: none;
    background-color: #ffc4ab !important;
    border: solid 0.094rem #ffc4ab;
    color: var(--mostUsed-text-color);
    padding: 10px 20px 10px;
    border-radius: 30px;
    font-family: 'Poppins-Regular', sans;
    font-size: medium;
    cursor: pointer;
    transition: color 0.3s ease;
    transition: background-color 0.8s ease;
}

.cover-btn:hover {
    background-color: transparent !important;
    color: white;
    border: dashed 0.094rem white;
    cursor: pointer;
    transition: color 0.3s ease;
    transition: background-color 0.4s ease;
}

/* --------- THIRD SECTION ------------*/

.sMoreBtn {
    background-color: #f1b9a0;
    color: var(--btn-text-color);
    text-decoration: none;
    padding: 10px 25px 10px;
    font-size: 20px;
    border-radius: 30px;
    align-self: center;
    transition: color 0.8s ease;
    transition: background-color 0.8s ease;
}

.sMoreBtn:hover {
    background-color: #649984;
    color: white;
    transition: color 0.8s ease;
    transition: background-color 0.8s ease;
}

/* ------ Zero data ------------- */
.zero-data {
    font-size: 20px;
    margin-top: 5%;
    width: 900px;
    font-family: 'Poppins-Regular', sans-serif;
}

#writing-zeroData {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----------- MODAL -------------*/
.modal-content {
    background: linear-gradient(180deg, #ffeed8, #F0D0BC 100%) !important;
    border-radius: 15px;
    border-width: 0;
    text-align: center;
}

.modal-body::-webkit-scrollbar {
    width: 6px;
}

.modal-body::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

.modal-body::-webkit-scrollbar-thumb {
    background-color: #92827a;
    border-radius: 10px;
    transition: background-color 1s ease-in;
}

.modal-body::-webkit-scrollbar-thumb:hover {
    background-color: #ACA09A;
    transition: background-color 1s ease-in;
}

.modal-header {
    border-bottom: none;
}

.save-btn {
    background-color: #fffcf6ee;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    border-radius: 80px;
    border-width: 0;
    margin-left: 5px;
    color: rgb(63, 63, 63);
}

.save-btn:hover,
.shopping-btn:hover {
    background-color: #fffcf6d7;
}

.btn-close {
    background-color: #fffcf6;
    margin-right: 5px !important;
    padding: 10px !important;
    border-radius: 20px;
}

.modal-img {
    width: 243px;
    height: 400px;
    align-self: center;
    border-radius: 10px;
}

.modal-h3 {
    margin-top: 5%;
}

.modal-p {
    font-size: 20px;
    color: rgb(80, 80, 80);
}

.author {
    cursor: pointer;
}

.author:hover {
    color: #B43C82 !important;
}

.babszem {
    width: fit-content;
    display: inline-flex;
    padding-top: 10px;
    padding-bottom: 10px !important;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #e8b5a0;
    box-shadow: 5px 5px 8px #837670da;
    column-gap: 20px;
    text-align: center !important;
    border-radius: 30px;
    color: #2C1810;
    margin-top: 5%;
}

.colDiv {
    padding-top: 15px;
    width: 80px;
    text-align: center;
}

.babszem-margin {
    margin-right: 10px;
}

.modal-description {
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
    font-family: 'Poppins-light', sans-serif;
}

.modal-footer {
    border-top: none;
    padding: 15px 25px 25px;
    height: fit-content;
}

.m-footer-div {
    display: flex;
    margin-right: auto;
}

.shopping-btn {
    margin-left: auto;
    margin-right: 20px;
    padding: 10px 18px 15px;
    background-color: #fffcf6a7;
}

.price {
    font-size: 18px;
    margin-right: 10px;
    margin-left: auto !important;
    margin-top: 13px;
    margin-bottom: 13px;
    font-family: 'Poppins-Regular', sans-serif;
    color: var(--mostUsed-text-color);
}

.modal-cover-btn {
    text-decoration: none;
    background: #895372 !important;
    border: 0.094rem solid #895372;
    color: white;
    padding: 10px 20px 10px;
    border-radius: 30px;
    font-family: 'Poppins-Regular', sans;
    font-size: 18px;
    cursor: pointer;
    float: right;
    transition: background-color 0.8s ease;
    height: fit-content;
}

.modal-cover-btn:hover {
    background-color: transparent !important;
    color: #2C1810;
    border: dashed 0.094rem #2C1810;
    cursor: pointer;
    transition: background-color 0.8s ease;
}


/* ------- FOOTER ---------*/

#footer-logo {
    display: flex;
}

footer {
    border-top: 0.094rem solid var(--dash-color);
    background-color: var(--footer-bg-color);
    padding-top: 50px;
    padding-right: 5%;
    padding-left: 5%;
    height: fit-content;
}

footer h3 {
    font-size: 1.75rem;
    margin-bottom: 10px;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    font-size: 1.25rem;
}

footer a {
    color: var(--mostUsed-text-color);
}

footer a:hover {
    color: #B43C82;
}

#copy-right-div {
    float: right !important;
}

#copy-right {
    font-size: small;
    font-family: 'Poppins-Regular', sans-serif;
}