@font-face {

    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/static/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;

}

@font-face {

    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/static/Montserrat-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {

    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/static/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;

}

@font-face {

    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/static/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;

}

.wallpaper {

    background-color: #E8B5A0;
    width: 1440px;
    height: 269px;

}

.moreOptions {

    margin-left: 1800px;
}

.arrow-left {

    margin-left: 50px;
}

.profile-picture {

    width: 210px;
    height: 210px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-left: 50px;
    margin-top: 130px;
}

.Optional-name {

    margin-left: 320px;
    margin-top: 15px;
    font-family: 'Montserrat';
    font-weight: 30px;
    color: #2C1810;
    font-style: normal;
    font-size: 30px;
    font-weight: 600;

}

.username {

    margin-left: 320px;
    font-size: 22px;
    font-family: 'Montserrat';
    color: #2C1810;
    font-style: normal;
    font-weight: 500;

}

.datasbg {

    background-color: #EAD7BE;
    width: 294px;
    height: 64px;
    border-radius: 30px;
    margin-top: 10px;
    margin-left: 320px;

}

.datasnum {

    font-size: 18px;
    font-family: 'Montserrat';
    color: #2C1810;
    font-style: normal;
    font-weight: 500;
    display: flex;
    margin-left: 375px;
    margin-top: -58px;
    
}

.datas{

    font-size: 15px;
    font-family: 'Montserrat';
    color: #2C1810;
    font-style: normal;
    font-weight: 400;
    display: flex;
    margin-left: 350px;
    margin-top: -12px;

}
.datasnum p {
    margin-right: 70px;
}

.datas p {

    margin-right: 10px;
}

.Introduction-bg{

    background-color: #EAD7BE;
    width: 498px;
    height: 388px;
    border-radius: 30px;
    margin-top: 100px;
    margin-left: 50px;

}

.Int-h2 {

    color: #2C1810;
    font-family: 'Montserrat';
    font-size: 25;
    font-weight: 600;
    margin-left: 80px;
    margin-top: -370px;

}

.Int-text {

    color: #2C1810;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 400;
    width: 438px;
    margin-left: 80px;
    margin-top: 15px;

}

.Int-dateofjoining {

    color: #2C1810;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 400;
    margin-left: 80px;
    margin-top: 60px;
    text-transform: none;

}

.MyWeb-bg {

    background-color: #EAD7BE;
    width: 498px;
    height: 109px;
    border-radius: 20px;
    margin-left: 50px;
    margin-top: 80px;

}

.MyWeb-h2 {

    color: #2C1810;
    font-family: 'Montserrat';
    font-size: 20;
    font-weight: 500;
    margin-left: 80px;
    margin-top: -100px;
}

.thirdsection-h2{

    color: #2C1810;
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 600;
    margin-left: 1300px;
    margin-top: -600px;

}

.card-bg {

    background-color: #EAD7BE;
    width: 560px;
    height: 218px;
    border-radius: 30px;
    margin-left: 1300px;
    margin-top: 50px;

}

.book-cover {

    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-left: 1300px;
    margin-top: -246px;

}

.book-title{

    color: #2C1810;
    font-family: 'Montserrat';
    font-size: 25px;
    font-weight: 600;
    margin-left: 1470px;
    margin-top: -210px;

}

.book-description {

    color: #2C1810;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 400;
    width: 355px;
    margin-left: 1470px;

}

.book-tags {

    height: 29px;
    width: 81px;
    border-radius: 30px;
    background-color: #F28482;
    border: #F28482;
    margin-left: 1470px;
    font-size: 13px;
    color: #2C1810;
    font-family: 'Montserrat';
    font-weight: 300;

}

.book-tags2 {

    margin-left: 15px;
    height: 29px;
    width: 81px;
    border-radius: 30px;
    background-color: #F28482;
    border: #F28482;
    font-size: 13px;
    color: #2C1810;
    font-family: 'Montserrat';
    font-weight: 300;

}

.button-more {

    width: 76px;
    height: 44px;
    border-radius: 30px;
    background-color: #F6BD60;
    border: #F6BD60;
    color: #2C1810;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 600;
    margin-left: 100px;

}



footer {
    
    margin-top: 100px;
    border-top: 0.094rem solid var(--dash-color);
       background-color: #F6E3CD;
       padding-top: 5%;
       padding-right: 5%;
       padding-left: 5%;  
   
   }
   
   
   footer h3 {
       font-size: 28px;
       margin-bottom: 16px;
   }
   
   footer ul {
       list-style-type: none;
   }
   
   footer ul li {
       font-size: 20px;
       font-family: 'Montserrat', sans-serif;
   }
   
   footer a {
       color: var(--mostUsed-text-color);
   }