/* Option 2: Import via CSS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");


/**--------------- FONTS ---------------*/
@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat/static/Montserrat-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat/static/Montserrat-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat/static/Montserrat-SemiBold.ttf") format('truetype');
    font-weight: 600;
    font-style: normal;
}

/** VÁLTOZÓK DEFINIÁLÁSA  */
:root {
    --page-bg-color: rgb(247, 245, 236);
    --footer-bg-color: rgb(246, 227, 205);
    --mostUsed-text-color: rgb(65, 61, 63);
    --btn-text-color: rgb(51, 47, 49);

    --controlP-color: #615C5E;
    --control-dark-text: #4D474A;
    --controlCancel-btn: #DEDEDB;
    --controlNext-btn: #E8B5A0;
    --control-Btn-text: #2B2729;

    --input-card-bg: #FFFDF9;
}

/** --------- EDIT CONTROL PANEL ------------- */
/* #editControls{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
   
    border-bottom: #6f6f6f 3px!important;
} */

nav {
    background-color: var(--page-bg-color);
    display: flex;
    align-self: center;
    /* position: absolute; */
    padding: 10px 8px !important;
    top: 0;
    justify-content: space-between;
    border-bottom: 0.5px solid #D6D5D2;

}

.bi-chevron-left {
    width: 33px !important;
    height: 59px !important;
    color: var(--control-dark-text);
}

#backArrow {
    display: inline-flex;
    align-self: center;
}

#goBack {
    flex-shrink: 0;
    /* padding-bottom: 4px; */

    /* border: #D6D5D2 1px solid; */
}

.btn-text {
    /* border: 1px solid #000000 !important; */
    height: fit-content;
    width: fit-content;
    padding: 0px !important;
    margin: 0px !important;
    /* position: relative; */
    /* left: 20px; */
}

.controlText {
    -webkit-box-flex: 1;
    flex: 1;
    display: inline-block;
    /* align-self: center !important; */
    margin-top: 3px;
}

.h4 {
    font-size: 21px;
    font-weight: 600;
    /* margin: 12px 0px; */
}

#controlP {
    font-size: 16px;
    letter-spacing: 0.2px;
    line-height: 18px;
    margin-bottom: 0px;
    font-family: 'Montserrat' sans-serif;
    font-weight: 400;
    color: var(--controlP-color);
}

#StoryName {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -0.22px;
    color: var(--control-dark-text);
}

.buttons {
    display: inline-block;
    margin-left: auto;
    position: absolute;
    right: 40px;
    /* display: inline-flex; */
    align-self: center;
}

#Cancel {
    background-color: var(--controlCancel-btn);
    height: fit-content;
    width: fit-content;
    padding: 10px 14px;
    border-radius: 7px;
    background: #DEDEDB;
    color: var(--control-Btn-text);
    text-align: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;

    font-weight: 500;
    line-height: 100%;
}

#Next {
    display: inline-flex;
    height: fit-content;
    width: fit-content;
    padding: 10px 14px;
    align-items: center;
    border-radius: 7px;
    background: var(--controlNext-btn);
    color: #2B2729;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.2px;
    margin-left: 10px;
}

/** --------- SECTION ------------- */
#UploadInfos{
    margin-top: 100px;
}

/** --------- UPLOAD FILES ------------- */


/** ----------  INPUTS --------------- */

#inputs{
    background-color: var(--input-card-bg);
}