/* ----------- VÁLTOZÓK DEFINIÁLÁSA */
:root {
    /* -----------COLORS -----------*/
    --primary-BTN-Bg-color: rgb(232, 181, 160);
    --btn-text-color: rgb(51, 47, 49);
    /*text color for:
        -loginBTN text
        - signupBTN text
        - first section btn text
        - fourth section btn text */
    --mostUsed-text-color: rgb(65, 61, 63);
    /* its for text colors*/
    --dash-color: rgb(129, 105, 117);
    /* its for btn dashes*/
    --page-bg-color: rgb(247, 245, 236);
    --footer-bg-color: rgb(246, 227, 205);
    --navbar-a-color: rgb(151, 121, 110);
    --navbar-a-hover-color: rgb(113, 145, 128);
    --navbar-p-color: rgb(117, 55, 31);
    --current-page-color: rgb(60, 32, 22);
    --current-page-hover-color: rgb(68, 92, 79);
    --card-bg: rgb(234, 215, 190);


    --card-height: 400px;
    --card-width: 270px;
    --max-lines: 6;
    --line-height: 1.5;
}

/*--------------- FONTS ---------------*/

@font-face {
    font-family: 'Inter-Medium';
    src: url('../fonts/Inter/static/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url("../fonts/Montserrat/static/Montserrat-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* --------------- NAVBAR ---------------*/

nav {
    background-color: var(--page-bg-color);

}

#navbar {
    padding-right: 5%;
    padding-left: 5%;
}

#navbar a,
#navbar p {
    font-size: larger;
    display: inline;
    padding: 0.938rem;
    font-family: 'Inter-Medium', sans-serif;
}

#navbar a {
    color: var(--navbar-a-color);
}

#navbar p {
    color: var(--navbar-p-color) !important;
}

#navbar a:hover {
    color: var(--navbar-a-hover-color);
    font-style: italic;
}

.active-page {
    /*? Az aktuális page */
    color: var(--current-page-color) !important;
    text-decoration: underline 0.125rem var(--primary-BTN-Bg-color);
    /* ? távolság növelése az alláhúzás vonal és a szöveg alja között */
    text-underline-offset: 0.281rem;
}

.active-page:hover,
.active:hover {
    /*? aktuális page hover */
    color: var(--current-page-hover-color) !important;
    font-style: italic;
}

#profile-icon {
    width: 50px;
    /* Állítsd be a kívánt szélességet és magasságot */
    height: 50px;
    border-radius: 50%;
    /* Kör alak kialakítása */
    background-image: url('../pictures/default-profile-pic.png');
    /* Alapértelmezett kép beállítása */
    background-size: cover;
    /* A kép méretezése a konténerhez */
    background-position: center;
    /* A kép középre igazítása */
    cursor: pointer;
    /* Mutató kurzor megjelenítése, hogy látható legyen, kattintható */
}

#navbarNav {
    margin-left: 90px;
}

#writingBtn {
    font-size: medium;
    font-family: 'Inter-Medium', sans-serif;
    color: var(--btn-text-color);
    border: solid var(--primary-BTN-Bg-color);

    border-radius: 1.5rem;

    background-color: var(--primary-BTN-Bg-color);

    padding: 0.625rem 1.25rem;

    transition: color 0.8s ease;
    /*átmenet a hover és a rendes állapot között*/
    transition: background-color 0.3s ease;
    /*átmenet a hover és a rendes állapot között*/
    line-height: 1.125rem;

    box-sizing: border-box;
    margin-right: 50px;

}

#writingBtn:hover {
    transition: color 0.8s ease;
    /*átmenet a hover és a rendes állapot között*/
    transition: background-color 0.3s ease;
    /*átmenet a hover és a rendes állapot között*/
    background-color: rgb(247, 245, 236);
    color: var(--mostUsed-text-color);
    border: dashed 0.094rem var(--dash-color);
}

/* ---------- SECTION ONE ----------------------  */
#s1 {
    margin-top: 75px;
    background-color: #EAD7BE;
    height: 96px;
}

#back-arrow-div{
    padding: 0px;
}

#back-arrow {
    margin: 20px;
    border: none;
    background-color: transparent;
    /* padding: 0px; */
}

#category-name-div {
    height: 96px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.category-name-h1 {
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 5.25px;
    /* vertical-align: middle!important; */
    /* line-height: 50px; */
    margin-bottom: 0px;
}

.breadcrumb a {
    color: var(--navbar-p-color);
    text-underline-offset: 3px;
}

/* ---------- SECTION TWO ----------------------  */
#s2 {
    margin-top: 171px;
}

/* ----- LEFT SIDE */

#left-side {
    position: sticky !important;
    height: 80vh;
    background: #F5EADC;
}

#left-side-h3 {
    color: #2C1810;
    font-family: 'Montserrat-Medium', sans-seri;
    margin-top: 30px;
}

form{
    margin-top: 20px;
}

#search-input{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: solid 1px #cdb5aa;
    background-color: #FFF9F5;
}

#search-input::placeholder{
    color: #735646ea;
}

#search-btn{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #FFF9F5;
    border-color: #cdb5aa;
    border-left: 0;
}

#most-saved-books{
    margin-top: 30px;
    border-top: solid 1px #cdb5aa;
}

.checkbox-filter{


    border-bottom: solid 1px #cdb5aa;
    padding-top: 15px;
    padding-bottom: 15px;
}

.checkbox-filter label{
    font-size: 20px;
    font-family: 'Montserrat-Medium', sans-seri;
}

.checkbox-filter input{
    margin-top: 7px;
    width: 16px;
    height: 16px;
    background-color: #FFF9F5;
    border-color: #cdb5aa;
}

.checkbox-filter input:checked{
    background-color: var(--navbar-p-color);
    border-color: var(--navbar-p-color);
}


/** --------------- FOOTER ---------------*/

#footer-logo {
    /* padding-left: 6%; */
    display: flex;
}

footer {
    border-top: 0.094rem solid var(--dash-color);
    background-color: var(--footer-bg-color);
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
    height: 325px;
}

footer h3 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    font-size: 1.25rem;
    font-family: 'Montserrat', sans-serif;
}

footer a {
    color: var(--mostUsed-text-color);
}

footer a:hover{
    color: #B43C82;
}

#copy-right-div{
    float: right!important;
}

#copy-right{
    font-size: small;
    font-family: 'Poppins-Regular', sans-serif;
    
}