

/* FONTS */
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/static/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat/static/Montserrat-Bold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat/static/Montserrat-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pt sans';
    src: url("../fonts/PT_Sans/PTSans-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* TAG ALAPJÁN */

nav {
    background-color: rgb(247, 245, 236);
    /* backdrop-filter: blur(5px); */
}

button a{
    text-decoration: none;
    color: rgb(51, 47, 49);
}

/* ID ALAPJÁN */

#navbar {
    margin-right: 5%;
    margin-left: 5%;
}

#navbar ul {
    font-size: larger;
}

#navbar ul li {
    display: inline;
    padding: 10px;
    font-family: 'Inter', sans-serif;
}

#loginBtn {
    border-width: 0rem;
    background-color: transparent;
    font-size: larger;
    color: rgb(51, 47, 49);
    font-family: 'Inter', sans-serif;
    margin-right: 0.9rem;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    transition: color 0.5s ease;
    /*átmenet a hover és a rendes állapot között*/
}

#loginBtn:hover {
    color: rgb(146, 104, 74);
}

#signUpBtn {
    font-size: larger;
    font-family: 'Inter', sans-serif;
    border-width: 0rem;
    background-color: rgb(232, 181, 160);
    color: rgb(51, 47, 49);
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    border-radius: 1.5rem;
    transition: color 0.8s ease;
    /*átmenet a hover és a rendes állapot között*/
    transition: background-color 0.8s ease;
    /*átmenet a hover és a rendes állapot között*/

}

#signUpBtn:hover {
    transition: color 0.8s ease;
    /*átmenet a hover és a rendes állapot között*/
    transition: background-color 0.8s ease;
    /*átmenet a hover és a rendes állapot között*/
    background-color: rgb(248, 248, 244);
    color: rgb(65, 61, 63);
    border: dashed 0.094rem rgb(65, 61, 63);
}

#opening-text {
    padding-top: 11rem;
    padding-bottom: 4.375rem;

}

#FirstSectionBtn {
    background-color: rgb(232, 181, 160);
    color: rgb(51, 47, 49);
    border-width: 0rem;
    padding-right: 3.75rem;
    padding-left: 3.75rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    border-radius: 3rem;
    font-size: x-large;
    font-family: 'Pt sans';
    transition: color 0.8s ease;
    transition: background-color 0.8s ease;
    margin-top: 1.875rem;
}

#FirstSectionBtn:hover {
    transition: color 0.8s ease;
    transition: background-color 0.8s ease;
    color: rgb(65, 61, 63);
    background-color: rgb(248, 248, 244);
    border: dashed;
    border-width: 0.094rem;
    border-color: rgb(129, 105, 117);
}

#second-section {
    margin-right: 6%;
    margin-left: 6%;
}

#s2-pic{
    width: 24.375rem;
    height: 17.844rem;
    border-radius: 0.625rem;
}

#second-h2{
    font-size: 2.375rem;
    font-family: 'Montserrat';
    font-weight: 700;
    color: rgb(65, 61, 63);

}

/*
  CLASS ALAPJÁN 
*/

.bigtext {
    letter-spacing: -0.063rem;
    font-size: 4.063rem;
    line-height: 5rem;
    font-family: 'Montserrat';
    font-weight: 700;
    width: 50.313rem;
    color: rgb(65, 61, 63);
}

.above-big-text {
    font-size: 1.563rem;
    font-family: 'Montserrat';
    font-weight: 500;
    width: 39.25rem;
    color: rgb(103, 91, 97);
    margin-top: 0.938rem;
}


