/** ----------- VÁLTOZÓK DEFINIÁLÁSA */
:root {
    --primary-BTN-Bg-color: rgb(232, 181, 160);
    /* --------------------------------------------------
    text color for:
        -loginBTN text
        - signupBTN text
        - first section btn text
        - fourth section btn text

    */
    --btn-text-color: rgb(51, 47, 49);
    /*--------------------------------------------- 
        its for text colors
    */
    --mostUsed-text-color: rgb(65, 61, 63);
    /* -----------------------------------------------
        its for btn dashes
    */
    --dash-color: rgb(129, 105, 117);
}

/**--------------- FONTS ---------------*/
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/static/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat/static/Montserrat-Bold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat/static/Montserrat-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat/static/Montserrat-SemiBold.ttf") format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Pt sans';
    src: url("../fonts/PT_Sans/PTSans-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

/** --------------- TAG ALAPJÁN ---------------*/

nav {
    background-color: rgb(247, 245, 236);
    /* backdrop-filter: blur(5px); */
}

footer {
    border-top: 0.094rem solid var(--dash-color);
    background-color: rgb(246, 227, 205);
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
}

footer h3 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    font-size: 1.25rem;
    font-family: 'Montserrat', sans-serif;
}

footer a {
    color: var(--mostUsed-text-color);
}

/** --------------- ID ALAPJÁN ---------------*/

#navbar {
    padding-right: 5%;
    padding-left: 5%;
}

#navbar a {
    font-size: larger;
    display: inline;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: rgb(151, 121, 110);
}

#navbar a:hover {
    color: rgb(113, 145, 128);
    /* font-weight: 700; */
    font-style: italic;
}

#AboutUs {
    /*? Az aktuális page */
    color: rgb(60, 32, 22) !important;
    text-decoration: underline 0.125rem var(--primary-BTN-Bg-color);
    /* ? távolság növelése az alláhúzás vonal és a szöveg alja között */
    text-underline-offset: 0.281rem;
}

#AboutUs:hover {
    /*? aktuális page hover */
    color: rgb(68, 92, 79) !important;
    font-style: italic;
}

#loginBtn {
    /*? navbar login btn-ja */
    border-width: 0rem;
    background-color: transparent;

    font-size: larger;
    color: var(--btn-text-color);
    font-family: 'Inter', sans-serif;

    margin-right: 0.9rem;
    padding: 0.625rem 1.25rem;

    transition: color 0.5s ease;
    /*átmenet a hover és a rendes állapot között*/
    line-height: 1.125rem;

    box-sizing: border-box;
    /* A padding + border szélessége is hozzáadódik az elem méretéhez */
}

#loginBtn:hover {
    /*? navbar login btn hover */
    color: rgb(146, 104, 74);
}

#signUpBtn {
    /*? navbar signup btn-ja */
    font-size: larger;
    font-family: 'Inter', sans-serif;
    color: var(--btn-text-color);

    border-width: 0rem;
    border-radius: 1.5rem;

    background-color: var(--primary-BTN-Bg-color);

    padding: 0.625rem 1.25rem;

    transition: color 0.8s ease;
    /*átmenet a hover és a rendes állapot között*/
    transition: background-color 0.8s ease;
    /*átmenet a hover és a rendes állapot között*/
    line-height: 1.125rem;

    box-sizing: border-box;
    /* A padding + border szélessége is hozzáadódik az elem méretéhez */
}

#signUpBtn:hover {
    /*? navbar login btn hover */
    transition: color 0.8s ease;
    /*átmenet a hover és a rendes állapot között*/
    transition: background-color 0.8s ease;
    /*átmenet a hover és a rendes állapot között*/
    background-color: rgb(248, 248, 244);
    color: var(--mostUsed-text-color);
    border: dashed 0.094rem var(--dash-color);
}

#first-section{
    background-color: rgb(234, 215, 190);
    margin-top: 11rem;
    padding-bottom: 3.125rem;
    padding-top: 3.125rem;
    margin-bottom: 8rem;
}

#s1-h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-underline-offset: 0.625rem;  
    text-decoration: underline 0.125rem var(--primary-BTN-Bg-color);
}

#first-section p{
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    margin-right: 2.5rem;
}

#s1-p1{
    margin-top: 2.5rem;
}

#s1-pic{
    height: max-content;
}

#footer-logo {
    display: flex;
}