@font-face {

    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/static/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;

}

@font-face {

    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/static/Montserrat-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {

    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/static/Montserrat-Medium.ttf');
    font-weight: 500;
    font-style: normal;

}

@font-face {

    font-family: 'Inter';
    src: url('../fonts/Inter/static/Inter-Medium.ttf');
    font-weight: 500;
    font-style: normal;

}

@font-face {

    font-family: 'Inter';
    src: url('../fonts/Inter/static/Inter-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;

}

:root {
    --primary-BTN-Bg-color: rgb(232, 181, 160);
    /* --------------------------------------------------
    text color for:
        -loginBTN text
        - signupBTN text
        - first section btn text
        - fourth section btn text

    */
    --btn-text-color: rgb(51, 47, 49);
    /*--------------------------------------------- 
        its for text colors
    */
    --mostUsed-text-color: rgb(65, 61, 63);
    /* -----------------------------------------------
        its for btn dashes
    */
    --dash-color: rgb(129, 105, 117);
}

nav {
    background-color: rgb(247, 245, 236);
    /* backdrop-filter: blur(5px); */
}

#navbar {
    padding-right: 5%;
    padding-left: 5%;
}

#navbar a {
    font-size: larger;
    display: inline;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: rgb(151, 121, 110);
}

#navbar a:hover {
    color: rgb(113, 145, 128);
    /* font-weight: 700; */
    font-style: italic;
}


#AboutUs {
    /*? Az aktuális page */
    color: rgb(60, 32, 22) !important;
    text-decoration: underline 0.125rem var(--primary-BTN-Bg-color);
    /* ? távolság növelése az alláhúzás vonal és a szöveg alja között */
    text-underline-offset: 0.281rem;
}


#AboutUs:hover {
    /*? aktuális page hover */
    color: rgb(68, 92, 79) !important;
    font-style: italic;
}

#loginBtn {
    /*? navbar login btn-ja */
    border-width: 0rem;
    background-color: transparent;

    font-size: larger;
    color: var(--btn-text-color);
    font-family: 'Inter', sans-serif;

    margin-right: 0.9rem;
    padding: 0.625rem 1.25rem;

    transition: color 0.5s ease;
    /*átmenet a hover és a rendes állapot között*/
    line-height: 1.125rem;

    box-sizing: border-box;
    /* A padding + border szélessége is hozzáadódik az elem méretéhez */
}

#loginBtn:hover {
    /*? navbar login btn hover */
    color: rgb(146, 104, 74);
}

#signUpBtn {
    /*? navbar signup btn-ja */
    font-size: larger;
    font-family: 'Inter', sans-serif;
    color: var(--btn-text-color);

    border-width: 0rem;
    border-radius: 1.5rem;

    background-color: var(--primary-BTN-Bg-color);

    padding: 0.625rem 1.25rem;

    transition: color 0.8s ease;
    /*átmenet a hover és a rendes állapot között*/
    transition: background-color 0.8s ease;
    /*átmenet a hover és a rendes állapot között*/
    line-height: 1.125rem;

    box-sizing: border-box;
    /* A padding + border szélessége is hozzáadódik az elem méretéhez */
}

#signUpBtn:hover {
    /*? navbar login btn hover */
    transition: color 0.8s ease;
    /*átmenet a hover és a rendes állapot között*/
    transition: background-color 0.8s ease;
    /*átmenet a hover és a rendes állapot között*/
    background-color: rgb(248, 248, 244);
    color: var(--mostUsed-text-color);
    border: dashed 0.094rem var(--dash-color);
}


/* .Rolunk{

    width: 100%;
    height: 100%;
    position: relative;
    

} */

.Navbar {

    width: 1440px;
    height: 77.90px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #F7F5EC;

}

.Pages{     

    width: 599px;
    height: 20px;
    left: 420px;
    top: 32px;
    position: absolute;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 35px;
    display: inline-flex;

}

.HomePage{

    text-align: center;
    color: #2C1810;
    font-size: 22px;
    font-family: Inter;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 20px;
    letter-spacing: 0.44px;
    word-wrap: break-word;

}

.Feed{

    text-align: center;
    color: #2C1810;
    font-size: 22px;
    font-family: Inter;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 20px;
    letter-spacing: 0.44px;
    word-wrap: break-word;

}

.Explore {

    text-align: center;
    color: #2C1810;
    font-size: 22px;
    font-family: Inter;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 20px;
    letter-spacing: 0.44px;
    word-wrap: break-word;

}

.SavedBooks {

    text-align: center;
    color: #2C1810;
    font-size: 22px;
    font-family: Inter;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 20px;
    letter-spacing: 0.44px;
    word-wrap: break-word;

}

.AboutUs {

    text-align: center;
    color: #2C1810;
    font-size: 22px;
    font-family: Inter;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 20px;
    letter-spacing: 0.44px;
    word-wrap: break-word;

}

.User {

    left: 1146px;
    top: 12px;
    position: absolute;

}

.ProfilePicture {

    width: 60px;
    height: 60px;
    left: 0px;
    top: 0px;
    position: absolute;
    border-radius: 9999px;

}

.UserName {

    left: 93px;
    top: 20px;
    position: absolute;
    text-align: center;
    color: #2C1810;
    font-size: 20px;
    font-family: Inter;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 20px;
    letter-spacing: 0.44px;
    word-wrap: break-word;

}

.Section1 {

    
    height: 588px;
    left: 0px;
    top: 120px;
    position: absolute;

}

.Rectangle30 {

    
    height: 588px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #EAD7BE;

}

.Rectangle32 {

    width: 345px;
    height: 588px;
    left: 1095px;
    top: 0px;
    position: absolute;
    padding-top: 30px;
    padding-bottom: 30px;

}

.WelcomeToChapterx {

    width: 392px;
    height: 19px;
    left: 124px;
    top: 51px;
    position: absolute;
    text-align: center;
    color: #2C1810;
    font-size: 27px;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 1.89px;
    word-wrap: break-word;

}

.Line3 {

    width: 253px;
    height: 0px;
    left: 127px;
    top: 102px;
    position: absolute;
    border: 2px #E8B5A0 solid;

}

.WelcomeText {

    width: 951px;
    left: 127px;
    top: 144px;
    position: absolute;
    color: #2C1810;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 1.40px;
    word-wrap: break-word;

}

.Section2 {

    width: 1196px;
    height: 452px;
    left: 122px;
    top: 828px;
    position: absolute;

}

.Vivi1 {

    width: 345px;
    height: 452px;
    left: 0px;
    top: 0px;
    position: absolute;

}

.Rectangle33 {

    width: 345px;
    height: 383px;
    left: 0px;
    top: 0px;
    position: absolute;
    border-top-left-radius: 50px;
    border: 3px #E8B5A0 solid;

}

.KissVivi {

    left: 0px;
    top: 400px;
    position: absolute;
    color: #2C1810;
    font-size: 25px;
    font-family: Montserrat;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: 1.75px;
    word-wrap: break-word;

}

.Role_Vivi1 {

    left: 0px;
    top: 430px;
    position: absolute;
    color: #2C1810;
    font-size: 17px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1.19px;
    word-wrap: break-word;

}

.Hedi {

    width: 356px;
    height: 452px;
    left: 426px;
    top: 0px;
    position: absolute;

}

.Rectangle35 {

    width: 345px;
    height: 383px;
    left: 0px;
    top: 0px;
    position: absolute;
    border-top-left-radius: 50px;
    border: 3px #E8B5A0 solid;

}

.MayerHedda {

    left: 0px;
    top: 400px;
    position: absolute;
    color: #2C1810;
    font-size: 25px;
    font-family: Montserrat;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: 1.75px;
    word-wrap: break-word;

}

.Role_Hedi {

    left: 0px;
    top: 430px;
    position: absolute;
    color: #2C1810;
    font-size: 17px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1.19px;
    word-wrap: break-word;

}

.Vivi2 {

    width: 345px;
    height: 452px;
    left: 851px;
    top: 0px;
    position: absolute;

}

.Rectangle34 {

    width: 345px;
    height: 383px;
    left: 0px;
    top: 0px;
    position: absolute;
    border-top-left-radius: 50px;
    border: 3px #E8B5A0 solid;

}

.SzirenyiVivi {

    left: 0px;
    top: 400px;
    position: absolute;
    color: #2C1810;
    font-size: 25px;
    font-family: Montserrat;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: 1.75px;
    word-wrap: break-word;

}

.Role_Vivi2 {

    left: 0px;
    top: 430px;
    position: absolute;
    color: #2C1810;
    font-size: 17px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1.19px;
    word-wrap: break-word;

}

.Section3 {

    width: 1443px;
    height: 1809px;
    left: -2px;
    top: 1404px;
    position: absolute;

}

.SzirenyiVivien {

    width: 1440px;
    height: 551px;
    left: 3px;
    top: 1258px;
    position: absolute;

}

.Rectangle38 {

    width: 1440px;
    height: 551px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #E5D9CA;
    border: 2px #F0CFC0 solid;

}

.IntroductionText_Vivi2 {

    width: 1346px;
    left: 44px;
    top: 169px;
    position: absolute;
    color: #2C1810;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1.26px;
    word-wrap: break-word;

}

.Introduction3_Name {

    left: 40px;
    top: 45px;
    position: absolute;
    color: #2C1810;
    font-size: 30px;
    font-family: Montserrat;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: 2.10px;
    word-wrap: break-word;

}

.IntRoleVivi2 {

    left: 40px;
    top: 80px;
    position: absolute;
    color: #2C1810;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1.40px;
    word-wrap: break-word;

}

.KissVivienBrigitta {

    width: 1440px;
    height: 551px;
    left: 0px;
    top: 0px;
    position: absolute;

}

.Rectangle36 {

    width: 1440px;
    height: 551px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #E5D9CA;
    border: 2px #F0CFC0 solid;

}

.Introduction1_Name {

    left: 40px;
    top: 45px;
    position: absolute;
    color: #2C1810;
    font-size: 30px;
    font-family: Montserrat;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: 2.10px;
    word-wrap: break-word;

}

.IntRoleVivi1 {

    left: 40px;
    top: 80px;
    position: absolute;
    color: #2C1810;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1.40px;
    word-wrap: break-word;

}

.IntroductionText_Vivi1 {

    width: 1346px;
    left: 44px;
    top: 169px;
    position: absolute;
    color: #2C1810;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1.26px;
    word-wrap: break-word;

}

.MayerHeddaAdrienn {

    width: 1440px;
    height: 551px;
    left: 2px;
    top: 622px;
    position: absolute;

}

.Rectangle37 {

    width: 1440px;
    height: 551px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #E5D9CA;
    border: 2px #F0CFC0 solid;

}

.Introduction2_Name {

    
    left: 40px;
    top: 45px;
    position: absolute;
    color: #2C1810;
    font-size: 30px;
    font-family: Montserrat;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: 2.10px;
    word-wrap: break-word;

}

.IntRoleHedi {

    left: 40px;
    top: 80px;
    position: absolute;
    color: #2C1810;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1.40px;
    word-wrap: break-word;

}

.IntroductionText_Hedi {

    width: 1346px;
    left: 44px;
    top: 169px;
    position: absolute;
    color: #2C1810;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1.26px;
    word-wrap: break-word;
    
}

footer {

    border-top: 0.094rem solid var(--dash-color);
    background-color: rgb(246, 227, 205);
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;

}

footer h3 {

    font-size: 1.75rem;
    margin-bottom: 1rem;

}

footer ul {

    list-style-type: none;

}

footer ul li {

    font-size: 1.25rem;
    font-family: 'Montserrat', sans-serif;

}

footer a {

    color: var(--mostUsed-text-color);

}

#footer-logo {
    
    display: flex;
    
}