:root {
    --input-border: rgb(144, 152, 180, 0.75);
    --label: rgb(55, 56, 78);
    --h1: rgba(65, 61, 63, 1);
    --wellcome-text: rgba(30, 128, 141, 1);
    --error-color: #EE1D52;
}

/* Media query */
@media (max-width: 575.98px) {
    #names, #pwds{
        flex-direction: column;
        gap: 0px!important;
    }

    #btns{
        flex-direction: column;
        gap: 10px;
        align-items: center;
        margin-top: 15px;
    }

    #btns button.disabled-btn {
        font-size: 18px!important;
    }

   

    #aszf-checkbox{
        display: flex;
    }

    #checkLabel{
        padding-left: 5px;
       font-size: 13px;
    }

    #login-link, #backToLanding{
        font-size: 13px;
    }

    label{
        font-size: 15px;
    }
}

/* ---------------------------- FONTS ---------------------------- */

@font-face {
    font-family: 'Poppins-Light';
    src: url('../fonts/Poppins/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url("../fonts/Poppins/Poppins-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('../fonts/Poppins/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('../fonts/Inter/static/Inter-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lora-Medium';
    src: url('../fonts/Lora/static/Lora-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url("../fonts/Montserrat/static/Montserrat-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* ------- Scrollbar ------- */
/* scrollbar width */
::-webkit-scrollbar {
    width: 8px;
}

/* scrollbar Track */
::-webkit-scrollbar-track {
    background: transparent;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #92827a;
    border-radius: 20px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ACA09A;
}

/* form */
#outside-div {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 6%;
    margin-bottom: 6%;
}

form {
    background: #F8F8F4;
    width: fit-content;
    padding: 40px 70px;
    height: fit-content;
    border-radius: 2rem;
    box-shadow: 0.625rem 0.625rem 0.625rem 0rem rgba(77, 66, 64, 0.40) !important;

}

h1 {
    font-family: 'Inter-Bold', sans-serif;
    color: var(--h1);
    padding-bottom: 2%;
}

/* profile-type */
#btns {
    display: flex;
    justify-content: space-evenly;
}

.definition {
    font-family: 'Poppins-Medium', sans-serif;
    color: rgba(30, 128, 141, 1);
    margin-top: 5%;
}

#btns button.disabled-btn {
    border: 0rem;
    width: fit-content;
    background-color: transparent;
    font-family: 'Inter-Bold';
    font-size: 1.5rem;
    color: rgba(65, 61, 63);
    text-align: center;
}

#btns button.active-btn {
    border-radius: 2rem;
    width: fit-content;
    border: 0rem;
    background-color: rgba(232, 181, 160, 1);

    padding: 0.5rem 1rem;

    font-family: 'Montserrat-Medium';
    text-align: center;
    color: rgba(65, 61, 63);
}

/* inputs */
.inputDiv{
    margin-top: 1.5rem;
}
#names, #pwds {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    margin-top: 1rem;
    /* margin-bottom: 1rem; */
}

.inputs {
    border-width: 0.1125rem;
    border-color: rgb(144, 152, 180, 0.75);
    background-color: transparent;
    border-radius: 0.8rem;
}

.inputs::placeholder {
    font-size: smaller;
    color: rgb(120, 121, 143);
    font-family: 'Poppins-Light', sans-serif;
    font-size: 0.75rem;
}

label {
    color: var(--label);
    font-family: 'Poppins-Medium';
    margin-bottom: 1%;
    padding-left: 1%;
    font-size: 100%;
}

#checkLabel {
    font-family: 'Poppins-Regular';

}

#ASZF {
    margin-top: 10px;
    font-family: 'Poppins-Regular';
}

#ASZF a {
    font-family: 'Poppins-Regular';
}

#backToLanding,
#login-link {
    margin-top: 15px;
}

#submitButton {
    border-radius: 5rem;

    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;

    border: 0rem;
    background-color: rgba(232, 181, 160, 1);

    font-size: 120%;
    text-align: center;
    font-family: 'Poppins-Medium';
    color: #332F31;
    position: relative;
    transition: color 0.8s ease;
    transition: background-color 0.8s ease;

    margin-bottom: 0;
    margin-top: 5%;
}

#submitButton:hover {
    background-color: #649984;
    color: white;
    transition: color 0.8s ease;
    transition: background-color 0.8s ease;

}

.error {
    color: var(--error-color);
    font-family: 'Poppins', sans-serif;
    font-size: 80%;
    padding-left: 5px;
    margin-top: 5px!important;
    margin-bottom: 0px;
}